[Unit]
Description=Huntarr
After=network.target

[Service]
User={{ huntarr_user }}
Group={{ huntarr_group }}
UMask=0002
Type=simple
WorkingDirectory={{ huntarr_install_dir }}
ExecStart=/usr/bin/python3 {{ huntarr_install_dir }}/main.py
Restart=on-failure
RestartSec=10
TimeoutStopSec=20
KillMode=process
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
